<h1>Listing flagged comments</h1>

<table>
  <tr>
    <th>Comment</th>
    <th>Song</th>
    <th>User</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.comment %></td>
    <td><%= link_to comment.song.name, comment.song %></td>
    <td><%= link_to comment.user.name, comment.user %></td>
    <td><%= comment.created_at %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


