<h1></h1>
<br>
<br>
<br>
<br>
<br>

<table>
  <tr>
  <% if can? :manage, :all %>
    <th>User Image</th>
    <th>User name</th>
    <th>Email</th>
    <th>Role</th>
  <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><h4><div class="user_pic"><%= image_tag user.user_image.detail.url %></div></h4></td>
    <td><h4><%= link_to user.name, user %></h4></td>
    <% if can? :manage, :all %>
      <td><h4><%= user.email %></h4></td>
      <td><h4><%= user.role %></h4></td>
    <% end %>
  </tr>
<% end %>
</table>

<h4><%= paginate @users %></h4>
<br />


