<p id="notice"><%= notice %></p>
<style>
body {
  background: url(<%= @user.background_image.detail.url %>);
  background-size: cover;
}
</style>
<p>
  <h2><%= @user.name %></h2>
</p>

<p>
  <% if can? :view_role, User %>
        <b>Role:</b>
         <%= @user.role %>
  <% end %>
</p>


<p>
  <% if can? :view_email, User %>
      <b>Email:</b>
        <%= @user.email %>
  <% end %>
</p>

<p>
  <b>Rocking NYM since:</b>
  <%= @user.created_at.strftime('%B:%Y') %>
</p>

<p>
</p>

<p>
 <div class="user_pic"><%= image_tag @user.user_image.detail.url %></div>
</p>


<h1></h1>
<br>
<br>
<br>
<br>
<br>
<table>


<% @user.songs.each do |song| %>
  <tr>
    <td><%=link_to song.name, song_path(song) %></td>
    <td>
      <audio controls>
      <source src=<%= song.song_file.url %> type="audio/mpeg">
      </audio>
    </td>
    <td><div class="song_pic2"><%= image_tag song.song_image.thumb.url %></div></td>
    <% end %>
  </tr>
</table>
</br>




<%= link_to 'Delete Profile |', @user, method: :delete, data: { confirm: 'Are you sure you want to delete your NYM profile?' } if can? :destroy, @user%>
<%= link_to 'Edit |', edit_user_path(@user) if can? :edit, @user %>
<%= link_to 'All Users', users_path %>

<br>
<br>


