<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>


<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Created at:</b>
  <%= @user.created_at.strftime('%B:%Y') %>
</p>

<p>
 <%= image_tag @user.background_image.detail.url %>
</p>

<p>
 <%= image_tag @user.user_image.detail.url %>
</p>


<h1></h1>
<br>
<br>
<br>
<br>
<br>
<table>


<% @user.songs.each do |song| %>
  <tr>
    <td><%=link_to song.name, song_path(song) %></td>
    <td>
      <audio controls>
      <source src=<%= song.song_file.url %> type="audio/mpeg">
      </audio>
    </td>
    <% end %>
  </tr>
</table>
</br>







<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

