<!DOCTYPE html>
<html>
<head>
  <title>NotYetMozart2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <li><%= link_to 'Home', root_path %></li><br>
    <li><%= link_to 'Users', users_path %></li><br>
    <li><%= link_to 'Songs', songs_path %></li><br>
    <li><%= link_to 'My Profile' %></li><br>
  </nav>

<%= yield %>

</body>
</html>
