<h1>Listing songs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Song file</th>
    <th>Created at</th>
    <th>User</th>
    <th>Song image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <td>
        <audio controls>
            <source src=<%= song.song_file.url %> type="audio/mpeg">
        </audio>
    </td>
    <td><%= song.created_at %></td>
    <td><%= song.user_id %></td>
    <td><%= image_tag song.song_image.thumb.url %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
