<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <audio controls>
      <source src=<%= @song.song_file.url %> type="audio/mpeg">
  </audio>
</p>

<p>
  <b>Created at:</b>
  <%= @song.created_at %>
</p>

<p>
 <%= image_tag @song.song_image.detail.url %>
</p>

<%= render 'comment_form' %>

<% @song.comments.each do |comment| %>
  <tr>
    <td><%= link_to comment.user.name, comment.user %></td>
    <br>
    <td><%= comment.comment %></td>
    <br>
    <br>
    <td><%= comment.flag %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) if can? :edit, comment %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, comment %></td>
  </tr>
  <br>
<% end %>





<%= link_to 'Edit', edit_song_path(@song) if can? :edit, @song%> |
<%= link_to 'Back', songs_path %>
