<p id="notice"><%= notice %></p>

<p>

  <h2><%= @song.name %></h2>
  <h3><%= link_to @song.user.name, @song.user %></h3>
</p>

<p>
  <audio controls>
      <source src=<%= @song.song_file.url %> type="audio/mpeg">
  </audio>
</p>

<p>
  <b>Created at:</b>
  <%= @song.created_at.strftime('%B:%Y') %>
</p>

<p>
 <%= image_tag @song.song_image.detail.url %>
</p>

<% if can? :create, Song %>
  <%= render 'comment_form' %>

  <% @song.comments.each do |comment| %>
    <tr>
      <br>
      <td><%= link_to comment.user.name, comment.user %></td>
      <td><%= comment.comment %></td>
      <td><%= comment.flag %></td>
      <td><%= link_to 'Edit', edit_comment_path(comment) if can? :edit, comment %></td>
      <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, comment %></td>
    </tr>
    <br>
  <% end %>
<% end %>




<br>
<%= link_to 'Edit |', edit_song_path(@song) if can? :edit, @song%>
<%= link_to 'All Songs', songs_path %>
